@charset "UTF-8";

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
}

/* header start */

#header{
    width: 100%;
    min-width: 1200px;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.msImg{
    overflow: hidden;
}

.msImg img{
    position: absolute;    
    top: 0;
    left: 50%;
    margin-left: -960px;
}

.headerIn{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    height: 140px;
    position: relative;
}

.headerIn .mainMenu{
    margin: 60px auto 0 auto;
    display: flex;
    width: 100%;
}

.headerIn .mainMenu .logo{    
    width: 250px;
    height: 90px;
    margin-right: 20px;
}

.headerIn .mainMenu .logo a{
    background-image: url(../img/logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99999px;
    display: block;
    background-size: 220px 70px;
    width: 100%;
    height: 100%;
}

.headerIn .mainMenu .gnb .gnbList{
    height: 90px;
    line-height: 90px;
    font-size: 18px;
    color: #606060;
    font-weight: 700;
    width: 700px;
    position: relative;
}

.headerIn .mainMenu .gnb .gnbList{
    display: flex;
    justify-content: space-around;
}

.headerIn .mainMenu .gnb .gnbList .board:hover .subMenu{
    visibility: visible;
    opacity: 1;
}


.headerIn .mainMenu .gnb .board .subMenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 90px;
    right: 0;
    background-color: rgba(147, 149, 151, 0.3);
    height: 50px;
    line-height: 50px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;
}

.headerIn .mainMenu .util{
    line-height: 90px;
}

.headerIn .mainMenu .util ul{
    display: flex;
}

.headerIn .mainMenu .util .sc a{
    background-image: url(../img/icon/search.png);
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    margin: 35px 10px;
    text-indent: -99999px;
}

.headerIn .mainMenu .util .allMenu a{
    background-image: url(../img/icon/sitemap_ico.gif);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 25px;
    width: 25px;
    margin: 35px 10px;
    text-indent: -99999px;
}

.headerIn .userMenu{
    display: flex;
    height: 60px;
    position: absolute;
    right: 0;
    top: -50px;
}

.headerIn .userMenu .member ul{
    display: flex;
    color: rgb(36, 36, 36);
    align-items: center;
    height: 50px;
}

.headerIn .userMenu .member ul li{
    
}

.headerIn .userMenu .member ul li:not(:last-child)::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: rgb(36, 36, 36);
    margin: 5px 10px 0;
    vertical-align: top;
}

.headerIn .userMenu .sns ul{
    display: flex;
}

.headerIn .userMenu .sns ul li{
    margin-right: 10px;
}

.headerIn .userMenu .sns .sBtn li a{
    background-image: url(../img/icon/sns_icon.png);
    text-indent: -99999px;
    display: block;
    width: 34px;
    height: 34px;
}

.headerIn .userMenu .sns .sBtn .blog a{
    background-position: 35px 0;
}

.headerIn .userMenu .sns .sBtn .insta a{
    background-position: 78px 0;
}

/* header end */


/* main start */

/* .section1 start */
.section1{
    height: 600px;
    position: relative;
}

.section1 .sc1Img img{    
    position: absolute;    
    top: -50px;
    left: 50%;
    margin-left: -960px;
    z-index: 1;
}


/* .section1 end */

/* .section2 start*/

.section2{
    width: 1200px;
    height: 735px;
    margin: 0 auto;
    
}

.section2 .sc2List1{
    height: 152px;
    border-bottom: 1px solid rgba(147, 149, 151, 0.5);
    margin-bottom: 30px;
}

.section2 .sc2List1 ul{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.section2 .sc2List1 li a{
    text-align: center;
}

.section2 .sc2List1 li .s2LImg1{
    display: block;
    background-image: url(../img/icon/free-icon-success-4185811.svg);
    background-size: 80px auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
}

.section2 .sc2List1 li .s2LImg2{
    display: block;
    background-image: url(../img/icon/free-icon-list-4185572.png);
    background-size: 80px auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
}

.section2 .sc2List1 li .s2LImg3{
    display: block;
    background-image: url(../img/icon/free-icon-question-4185819.png);
    background-size: 80px auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
}

.section2 .sc2List1 li .s2LText{
    font-size: 16px;
    border: 700;
}

.section2 .sc2List2{
    position: relative;
}

.section2 .sc2List2 h2{
    background-image: url(../img/icon/free-icon-motivation-4185790.svg);
    background-size: 40px auto;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 22px; 
    margin-bottom: 40px;
}

.section2 .sc2List2 h2 span{
    margin-left: 10px;
    font-size: 14px;
    color: rgb(147, 149, 151);
}

.section2 .sc2List2 .addBtn{
    position: absolute;
    top: 30px;
    right: 30px;
}

.section2 .sc2List2 .addBtn a{
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -99999px;
}

.section2 .sc2List2 .addBtn span{
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
}

.section2 .sc2List2 .addBtn span::before{
    content: "";
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 11px;        
    left: 0;
}

.section2 .sc2List2 .addBtn span::after{
    content: "";
    width: 2px;
    height: 24px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 11px;
}

.section2 .sc2List2 h3{
    display: block;
    text-align: center;
    font-size: 24px;
    color: rgba(0,0,255,0.7);
    margin-bottom: 20px;
}

.section2 .s2List2Box{
    display: flex;
    justify-content: space-around;
}

.section2 .s2List2Box .s2LBImg img{
    width: 205px;
    height: 235px;
    margin-bottom: 20px;
}

.section2 .sc2List2 .s2List2Box .s2LB{
    border: 1px solid rgba(147, 149, 151, 0.5);
    width: 205px;
    height: 315px;
}

.section2 .sc2List2 .s2List2Box .s2LBText{
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.section2 .sc2List2 .s2List2Box .s2LBTag{
    font-size: 14px;
    margin-left: 15px;
    color: rgb(35, 155, 35);
}

/* .section2 end*/


/* .section3 start*/

.section3{
    background : linear-gradient(90deg, rgb(245, 223, 77) 50%, rgb(147, 149, 151) 50%);
    margin-bottom: 50px;    
}

.section3 .section3In{     
    width: 1200px;
    height: 465px;
    margin: 0 auto;
    padding-top: 20px;
}

.section3 .section3In h2{
    background-image: url(../img/icon/free-icon-video-call-4185730.svg);
    background-size: 40px auto;
    background-repeat: no-repeat;
    line-height: 40px;
    padding-left: 50px;
    font-size: 22px;
    margin-bottom: 20px;
}


.section3 .section3In h2 span{
    margin-left: 10px;
    font-size: 14px;
    color: rgb(147, 149, 151);
}


.section3 .section3In .videoBox{
    display: flex;
    background-color: white;
    padding: 5px;
    
}

.section3 .section3In .videoBox .videoL{
    margin-right: 20px;
}

.section3 .section3In .videoBox .videoR .mv1{
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

.section3 .section3In .videoBox .videoR .mv2{
    font-size: 14px;
    margin-bottom: 20px;
}

.section3 .section3In .videoBox .videoR .mv3{
    font-size: 14px;
    margin-bottom: 30px;
}

.section3 .section3In .videoBox .videoR .mv4 a{
    font-size: 14px;
    color: #e0e0e0;
    background-color: rgb(147, 149, 151);
    padding: 4px 10px 6px;
    display: inline-block;
}

/* .section3 end*/


/* .section4 start*/

.section4{
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.section4 .sc4Tag{
    width: 33%;
}

.section4 .scTitle{
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 10px;    
}

.section4 .sc4Tag{
    padding: 20px;
}

.section4 .sc4Tag .scTagTop{
    margin-bottom: 50px;
}

.section4 .sc4Tag .scTagTop .scTitle::after {
    content: '';
    height: 5px;
    margin-top: 10px;
    width: 80px;
    display: block;
    background-color: rgb(245, 223, 77);
}

.section4 .sc4Tag .sc4TagTList{
    display: flex;
    flex-wrap: wrap;
}

.section4 .sc4Tag .sc4TagTList li a{
    background-color: rgb(245, 223, 77);
    display: block;
    padding: 10px 20px;    
    margin: 10px;
    border-radius: 5px;
}

.section4 .sc4Tag .scTagBottom .scTitle::after {
    content: '';
    height: 5px;
    width: 80px;
    margin-top: 10px;
    display: block;
    background-color: rgb(147, 149, 151);
}

.section4 .sc4Tag .sc4TagBList{
    display: flex;
    flex-wrap: wrap;
}

.section4 .sc4Tag .sc4TagBList li a{
    background-color: rgb(147, 149, 151);
    display: block;
    padding: 10px 20px;
    color: white;
    margin: 10px;
    border-radius: 5px;
}

.section4 .sc4Review{
    width: 33%;
}

.section4 .sc4Review .scTitle::after {
    content: '';
    height: 5px;
    width: 80px;
    margin-top: 10px;
    display: block;
    background-color: rgba(0, 0, 255, 0.5);
}

.section4 .sc4Review .sc4RList li{
    padding: 20px;
    font-size: 22px;
    color: rgba(147, 149, 151);    
}

.section4 .sc4Review .sc4RList li span{
    display: inline-block;
    height: 40px;
    font-size: 24px;
    color: rgba(147, 149, 151, 0.6);    
    margin-left: 10px;
    border-bottom: 1px solid rgba(147, 149, 151, 0.6);
}


.section4 .sc4Banner{
    width: 33%;
    position: relative;}

.section4 .sc4Banner .sc4Img{
    width: 380px;
    height: 400px;
}

.section4 .sc4Banner .sc4Img img{
    width: 100%;
    height: 100%;
}

.section4 .sc4Banner .sc4Text{
    font-size: 16px;
    color: #e0e0e0;
    background-color: rgba(147, 149, 151, 0.5);
    padding: 4px 10px 6px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 300px;
}

/* .section4 end*/


/* .section5 start*/

.section5{
    background : linear-gradient(90deg, rgb(245, 223, 77) 50%, rgb(147, 149, 151) 50%);
    height: 250px;
}

.section5 .sc5In{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.section5 .sc5Left, .section5 .sc5Right{
    width: 50%;
    padding: 20px;
    position: relative;
}

.section5 .sc5In .sc5Right{
    color: #e0e0e0;
}

.section5 h3{
    font-size: 24px;    
}

.section5 .sc5In .addBtnL a{
    text-indent: -99999px;
    display: block;
}

.section5 .sc5In .addBtnL span::before{
    content: "";
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 31px;        
    right: 40px;
}

.section5 .sc5In .addBtnL span::after{
    content: "";
    width: 2px;
    height: 24px;
    background-color: black;
    position: absolute;
    top: 20px;
    right: 51px;
}

.section5 .sc5In .sc5EList li{
    font-size: 18px;
    padding: 5px;
}

.section5 .sc5In .sc5EList li a{
    display: flex;
    justify-content: space-between;
}

.section5 .sc5In .addBtnR a{
    text-indent: -99999px;
    display: block;
}

.section5 .sc5In .addBtnR span::before{
    content: "";
    width: 24px;
    height: 2px;
    background-color: #e0e0e0;
    position: absolute;
    top: 31px;        
    right: 40px;
}

.section5 .sc5In .addBtnR span::after{
    content: "";
    width: 2px;
    height: 24px;
    background-color: #e0e0e0;
    position: absolute;
    top: 20px;
    right: 51px;
}

.section5 .sc5In .sc5RList li{
    font-size: 18px;
    padding: 5px;
}

.section5 .sc5In .sc5RList li a{
    display: flex;
    justify-content: space-between;
}

/* .section5 end*/

/* main end */

/* #footer start*/

#footer{
    height: 300px;
    background-color: rgba(147, 149, 151, 0.4);
}

.ftIn{
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

/* #footer end*/











